In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#1) Import pandas and read in the banklist.csv file into a dataframe called banks.
df = pd.read_csv('/content/banklist.csv')

In [ ]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [ ]:
# 2) Show the head of the dataframe.
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [ ]:
#3) What are the column names?
df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [ ]:
#4) How many States (ST) are represented in this data set?
states_count = df['ST'].nunique()
print(states_count)

44

In [ ]:
#5) 5) Get a list or array of all the states in the data set.

df["ST"].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [ ]:
df["ST"].value_counts()

ST
GA    93
FL    75
IL    68
CA    41
MN    23
WA    19
AZ    16
MO    16
MI    14
TX    12
NV    12
WI    11
SC    10
MD    10
PA    10
CO    10
KS     9
UT     8
OH     8
TN     7
NC     7
AL     7
OK     7
NJ     7
OR     6
NY     5
VA     5
LA     4
PR     4
AR     4
NE     3
NM     3
IN     3
KY     2
ID     2
CT     2
MS     2
IA     2
MA     1
SD     1
WY     1
WV     1
NH     1
HI     1
Name: count, dtype: int64

In [ ]:
# 6) What are the top 5 states with the most failed banks?

df.columns  = df.columns.str.strip()
state_failures = df["ST"].value_counts()
top5 = state_failures.head(5)

print("Top 5 states with most failed banks : ",top5)

Top 5 states with most failed banks :  ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [ ]:
#7) What are the top 5 acquiring institutions?

df.columns = df.columns.str.strip()
acquiring_inst = df["Acquiring Institution"].value_counts()
top5_acqiures = acquiring_inst.head(5)

print("Top 5 acquiring institutions are : ",top5_acqiures)

Top 5 acquiring institutions are :  Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [ ]:
# 8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?

# rows where "acquring instituion is state bank of  texas"
sbt_acquisitions = df[df["Acquiring Institution"] == 'State Bank of Texas']

#how many banks were acquired
total_acquired = len(sbt_acquisitions)

#out of those ,how many were in texas(st == "tx")
acquired_in_tx = sbt_acquisitions[sbt_acquisitions["ST"] == "TX"]
total_in_texas = len(acquired_in_tx)

print("total banks acquired by state bank of texas:",total_acquired)
print("Number of those located in texas:",total_in_texas)

total banks acquired by state bank of texas: 3
Number of those located in texas: 1